*
{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container
{
  max-width: 1320px;
  margin: auto;
}
.py
{
  padding: 48px 0px;
}
.d-flex
{
  display: flex;
}
.j-center
{
  justify-content: space-between;
}
.align-center
{
  align-items: center;
}
.text-center
{
  text-align: center;
}
ul,li
{
  list-style-type: none;
}
p{
  color: #777777;
}
a{
  text-decoration: none;
  display: block;
}
.w-33
{
  width: 33.33%;
}
.w-25
{
  width: 25%;
}
.w-50
{
  width: 50%;
}
.m-auto
{
  margin: auto;
}
/* top bar section start */
.top-info
{
  background-color:#0A4C48 ;
  color: white;
}
.top-l
{
  padding: 16px 0;
}
.top-l li 
{
  padding: 0px 8px;
}
.top-r li
{
  padding: 0 8px ;
}
.top-r li i 
{
  background-color: #FAD105;
  border-radius: 50%;
  padding: 8px;
  margin: auto;
  display: inline-block;

}
.header-icon
{
  margin-bottom: 10px;
}
.top-r li 
{
  height: 40px; 
  width: 40px;
}
/* top bar section end */
/* nav section start */
.menu-r li 
{
  margin-right: 25px;
  font-weight: 500;
  padding: 30px 0px;
  font-size: 16px;
}
.menu-l h1
{
  color: #0A4C48;
  font-size: 40px;  
  font-weight: 900;
  margin-left: 5px;
}

/* nav section end */
/* slider section start */
.sliderCover
{
  width: 100%;
  /* height: 100; */
  background-image: url('./image/slider.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
}
.sliderCover .container
{
  padding: 200px 50px;
}

.s-info
{
  width: 70%;
}
.s-info h1
{
  padding-top: 150px; 
  font-size: 65px;
  font-family: 'Teko', sans-serif;
  padding-bottom: 20px;
}
.s-info p{
  font-size: 20px;
}
.s-button a
{
  background-color: #0A4C48;
}
.s-button button 
{
  background-color: #FAD105;
  margin-right: 40px;

}

.s-button button ,a 
{
  margin-top: 40px;
  padding: 16px 48px;
  color: white;
  border: none;
  font-size: 16px;
}
/* slider section end */

/* serives section start */
.icon-sec .i-box
{
  border: 2px solid #FAD105;
  border-radius: 120px 120px 0px 0px;
  text-align: center;  
}
.paint
{
  font-size: 45px;
  width: 120px;
  height: 120px;
  margin-top: -20px;
  margin-left: 160px;
  color: #FAD105;
  padding-bottom: 50px;
  background-color: white;
}
.i-box h3
{
  margin-bottom: 20px;
  font-size: 28px;
}
.i-box 
{
  margin-left: 10px;
}
.i-box p
{
  padding: 0px 75px;
  padding-bottom: 50px;
  color: #777777;
}
/* serives section end */
/* about section start */
.ab-img img
{
  width: 100%;
  height: 100%;
  padding-right: 30px;
}
.ab-info h4
{
  text-align: left;
  color: #FAD105;
  font-size: 24px;
  letter-spacing: 2px;
}
.ab-info h1{
  font-size: 42px;
  margin-bottom: 24px;
}
.ab-info p
{
  color: #777777;
  margin-bottom: 16px;
  font-size: 18px;
}
.ab-info a button
{
  padding: 16px 48px;
  background-color: #FAD105;
  border: none;
  color: white;
  font-size: 17px;
}

/* about section end */
/* serives area section start */
.se-paint
{
  font-size: 45px;
  width: 90px;
  height: 90px;
  margin-top: -40px;
  margin-left: 160px;
  color: #ffffff;
  padding-bottom: 50px;
  background-color: #0A4C48;
  border-radius: 7px;
}
.se-paint-i
{
  font-size: 50px;
  margin-top: 25px;
}
.se-icon-sec .se-i-box
{
  box-shadow: 0px 10px 20px 0px rgba(17, 76, 72, 0.4);
  text-align: center;  
}
.se-i-box h3
{
  margin-top: 20px;  
  margin-bottom: 20px;
  font-size: 25px;
  color: #0A4C48;
}
.se-i-box 
{
  margin-left: 20px;
}
.se-i-box button
{
  padding: 10px 20px;
  color: #ffffff;
  background-color: #FAD105;
  border: none;
  font-size: 16px;
  margin-bottom: 20px;
}
.se-i-box p
{
  font-size: 16px;
  padding: 0px 75px;
  padding-bottom: 50px;
  color: #777777;
}
.py-1
{
  margin-top: 250px;
  margin-bottom: 150px;
}
/* serives area section end */
/* why choose us section start */
.why
{
  text-align: center;
  font-size: 17px;
}
.why h1{
  font-size: 40px;
  margin-bottom: 24px;
}
.why h4
{
  color: #FAD105;
  letter-spacing: 5px;
  margin-bottom: 20px;
  font-size: 20px;
}
.why p
{
  margin-bottom: 24px;
}
/* why choose us section end */
/* our project section start */
.p-tital h1{
  font-size: 48px;
  margin-bottom: 24px;
}
.p-tital h4
{
  letter-spacing: 4px;
  color: #FAD105;
  font-size: 20px;
  margin-bottom: 8px  ;
}
.p-left button h3{
  font-size: 25px;
  color: #ffffff;
  padding-right: 200px;
}
.p-left
{
  display: flex;
  flex-direction: column;
  /* width: 30%; */
}
.p-left button
{
  padding: 24px;
  border-radius: 0px 0px 0px 80px;
  background-color: #FAD105;
  border: none;
  margin-bottom: 24px;
  text-align: left;
}
.p-right
{
  margin-left: 20px;
}
.p-right-img img
{
  width: 100%;
  height: 100%;
}
.p-right-info button
{
  padding: 16px 48px;
  background-color: #FAD105;
  border: none;
  color: white;
  font-size: 16px;
}
.p-right-info p
{
  font-size: 16px;
  margin-bottom: 24px;
}
.p-right-info h2
{
  font-size: 40px;
  margin-bottom: 16px;
}
.p-right-img
{
  width: 408px;
  height: 425px ;
}
/* our project section end */
/* team section start */
.py-2
{
  padding-top: 100px;
}
.t-tital 
{
  width: 650px;
  height: 115px;  
}
.t-tital h1{
  font-size: 48px;
  margin-bottom: 24px;
}
.t-tital h4
{
  letter-spacing: 4px;
  color: #FAD105;
  font-size: 20px;
  margin-bottom: 8px  ;
}
.t-img 
{
  width: 300px;
  height: 358px;
  object-fit: cover;
  /* border: 1px solid #777777; */
}
.t-img img
{
  max-width: 100%;
  height: auto;
}
.t-icon 
{
  margin-left: 78px;
}
.t-icon i
{
  display: inline-flex;
  background-color:#f8f8f8;
  margin-right: 10px;
  padding: 12px;
  border-radius: 50%;
  color: #FAD105;
  margin-top: -20px;
}
.t-box
{
  background-color: #f8f8f8;
  /* padding: 12px; */
  margin: 12px;
}
.t-info 
{
  padding: 10px 24px 24px 24px;
}
.t-info span
{
  color: #0A4C48;
  font-size: 17px;
}
.t-info h3
{
  margin: 8px 0;
  font-size: 24px;
}

/* team section end */
/*testimonial section start */

.test-tital h1{
  font-size: 40px;
  margin-bottom: 18px;
}
.test-tital h4
{
  letter-spacing: 4px;
  color: #FAD105;
  font-size: 22px;
  margin-bottom: 8px;
}
.test-img
{
  margin-top: 40px;
  margin-bottom: 40px;
}
.test-img img
{
  border-radius: 50%;
}
.test-cont span
{
  color: #0A4C48;
}
.test-cont h3
{
  margin-bottom: 10px;
  font-size: 20px;
}
.test-cont p
{
  font-size: 20px;
  margin-bottom: 20px;
}
.test-cont
{
  width: 600px;
  margin: auto;
  
}
/*testimonial section end */
/* blog section :start */

.b-tital h1{
  font-size: 40px;
  margin-bottom: 18px;
}
.b-tital h4
{
  letter-spacing: 4px;
  color: #FAD105;
  font-size: 22px;
  margin-bottom: 8px;
}
.b-img img
{
  width: 100%;
  height: 100%;
}
.b-img 
{
  width: 438px;
  height: 237px;
}
.b-const h3
{
  margin-bottom: 24px;
}
.b-const button
{
  background-color: #FAD105;
  padding: 4px 16px;
}
.b-const p
{
  margin-bottom: 16px;
  color: black;
}
.b-const 
{
  padding: 24px 24px 24px 24px;
  background-color: #f8f8f8;
}
.b-box
{
  margin-right: 20px;
}

/* blog section end */
/*footer section start */
.f-main
{
  width: 1344px;
  height: 313px;
}
footer p
{
  color: white !important;
}
footer
{
  background-color: #0A4C48;
  color: white;
  /* height: 200px; */
  padding-top: 50px;
  padding-bottom: 50px;
}
.f-address i
{
  color: #FAD105;
  margin-right: 10px;
}
.f-icon i
{
  display: inline-flex;
  background-color:#FAD105;
  margin-right: 8px;
  padding: 10px;
  border-radius: 50%;
  color:   #f8f8f8;
  margin-top: 15px;
  cursor: pointer;
}
.f-address p
{
  margin-bottom: 8px;
  font-size: 16px;
}
.f-address h4
{
  margin: 24px 0px;
  font-size: 18px;
  letter-spacing: 5px;
}
/*footer section end */